{% extends 'base.html' %}
{% block PAGE_TITLE %} Login {% endblock PAGE_TITLE %}
{% block CONTENT %}
    <div class="card text-center">
        <div class="card-header">
            Inicio de sesión
        </div>
        <div class="card-body d-flex justify-content-center">
            <form style="width: 20rem" id="login-form">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <a href="{% url 'user:register' %}">¿No tienes cuenta? Registrate aquí</a>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("login-form").addEventListener("submit", function(event) {
            event.preventDefault();
            let form = event.target;
            let formData = new FormData(form);
            
            fetch("{% url 'user:validate-login' %}", {
                method: "POST",
                body: formData,
            })
            .then(function(response) {
                console.log(response.body)
                alert(response.body)
            })
            .catch(function(error) {
                alert(error)
            });
        });
    </script>
{% endblock CONTENT %}