{% extends 'base.html' %}
{% block PAGE_TITLE %} Login {% endblock PAGE_TITLE %}
{% block CONTENT %}
    <div class="card text-center">
        <div class="card-header">
            Inicio de sesión
        </div>
        <div class="card-body d-flex justify-content-center">
            <form style="width: 20rem" id="login-form">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="email" class="form-label">Correo electrónico</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                <br>
                <a href="{% url 'user:register' %}">¿No tienes cuenta? Registrate aquí</a>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("login-form").addEventListener("submit", function(event) {
            event.preventDefault();
            let form = event.target;
            let formData = new FormData(form);
            
            fetch("{% url 'user:validate-login' %}", {
                method: "POST",
                body: formData,
            })
            .then(function(response) {
                if( response.ok ) return response.json();
                throw new Error(response.statusText);
            })
            .then(function(data) {
                console.log(data);
                if( data.error ) {
                    Swal.fire(
                        '¡Problemas al iniciar sesión 😭!',
                        data.error,
                        'error'
                    )
                } else {
                    Swal.fire(
                        '¡Inicio de sesión exitoso!',
                        data.message,
                        'success'
                    )
                }
            })
            .catch(function(error) {
                Swal.fire(
                    'Error en el inicio',
                    error?.message,
                    'error'
                )
            });
        });
    </script>
{% endblock CONTENT %}