{% extends 'base.html' %}
{% block PAGE_TITLE %} Home {% endblock PAGE_TITLE %}
{% block CONTENT %}
    <div class="row gx-5">
        {% for product in products %}
        <div class="card col-8 col-sm-4 col-md-2 m-2 pointer">
            <a href="{% url 'store:detail' %}?id={{ product.id }}" class="text-decoration-none text-black">
                <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ product.price }}</li>
                </ul>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock CONTENT %}