{% extends 'base.html' %}
{% block PAGE_TITLE %} Home {% endblock PAGE_TITLE %}
{% block CONTENT %}
    <div>{{ product.category.name }} > {{ product.name }}</div>
    <div class="row">
        <div class="col-md-6 col-12">
            <img src="{{ product.image }}" class="img-fluid" width="400"/>
        </div>
        <div class="col-md-6 col-12">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>
                <b>Precio:</b> $ {{ product.price }}
            </p>
            <p>
                <b>Stock:</b> {{ product.stock }}
            </p>
            <p>
                <b>Categoria:</b> {{ product.category.name }}
            </p>
        </div>
    </div>
{% endblock CONTENT %}